.footer {
    margin: 0 15px;

    &__wrapper {
        padding: 10px 0;
    }

    &-copyright {
        display: flex;
        align-items: center;
        gap: calc(100% - 98%);

        @media (max-width: $mobile-big-width) {
            gap: calc(100% - 96%);
        }

        &__date {
            pointer-events: none;
            color: $color-dark;
            @include font($weight: 500);
            opacity: 0.5;
        }
    }
}