.logo {
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        background: url("../assets/icons/logo/logo.svg") no-repeat;
        background-size: contain;
    }

    &__title {
        position: relative;
        left: 15px;
    }
}