$color-primary: #363C40;
$color-background: #D8E0E6;
$color-block: #C5C5C5;
$color-light: #FFF;
$color-dark: #546E82;
$color-extra: #CE9D3D;
$color-extra-1: #B56A69;
$color-answer-hover: #B4B4B4;
$color-indicator-true: #30a159;
$color-indicator-false: #c73737;
$color-audio-player-timeline: #AFAFAF;

$content-width: 1160px;
$tablet-width: 768px;
$mobile-big-width: 460px;