.result {
    display: flex;
    align-items: center;
    justify-content: center;

    &__wrapper {
        text-align: center;
    }

    &__title {
        margin-bottom: 10px;
    }

    &__subtitle {
        @include font($size: 2.4rem);
        color: $color-dark;
        margin-bottom: 10%;

        @media (max-width:$tablet-width) {
            @include font($size: 1.8rem);
        }
    }

    &.main {
        margin-bottom: 0;
    }
}